global:
  scrape_interval: 15s

rule_files:
  - 'alerts.yml'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'scraper'
    static_configs:
      - targets: ['scraper-worker:9410']
